*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.par{
    height: 200px;
    width: 150px;
    position: relative;
}
.par div{
    position: absolute;
    width: 100%;
    height:100%;
    transition: all 2s linear;
    animation: rotate 2s infinite linear;
    animation-delay:calc(0.1s * var(--i)) ;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
div .chi{
    height: 8px;
    width: 2px;
    border-radius: 50%;
    background:linear-gradient(red,orange);
    animation: resize 2s linear infinite;
    animation-delay:calc(0.1s * var(--i));
}
@keyframes resize{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        transform: scale(8);
        filter: hue-rotate(360deg);
    }
}

button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: transparent;
    padding: 10px;
}
button a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
@media screen and (max-width:430px) {
    .par{
        height: 100px;
        width: 70px;
    }    
     button a{
        font-size: 0.5rem;
    }    
}

@media screen and (max-width:860px) {
    .par{
        height: 110px;
        width: 80px;
    }
    button a{
        font-size: 0.8rem;
    }    
}

@media screen and (max-width:1200px) {
    .par{
        height: 120px;
        width: 90px;
    }    
    button a{
        font-size: 1rem;
    }    
}
